<br><br><br>
<center> ANALYSIS BY ATTENDANCE</center>

<div class="row">
    <div class="col-md-8">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-title">Views</h5>
          <p class="card-category">Bar Chart</p>
        </div>
        <div class="card-body">
          <canvas id="chartViews"></canvas>
        </div>
      </div>
    </div>
</div>
<br><br><br>
<center> ANALYSIS BY ASSIGNMENTS</center>
<div class="row">
    <div class="col-md-8">
        <div class="card car-chart">
          <div class="card-header">
            <h5 class="card-title">Activity</h5>
            <p class="card-category">Multiple Bars Chart</p>
          </div>
          <div class="card-body">
            <canvas id="chartActivity"></canvas>
          </div>
        </div>
      </div>
</div>
