<div class="wrapper wrapper-full-page ">
  <div class="full-page section-image" filter-color="black" data-image="./assets/img/bg/fabio-mangione.jpg">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content"> 
      <div class="container">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <!-- <form  #f="ngForm" novalidate (ngSubmit)="onLogin(f.value, f.valid)">   -->
          <form class="form" (submit)="onLogin(loginForm)" #loginForm="ngForm" method="" action="">  
            <div class="card card-login">
              <div class="card-header ">
                <div class="card-header ">
                  <h3 class="header text-center"><b> ADMIN LOGIN</b></h3>
                </div>                               
              </div>
              <div class="card-body ">
                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-single-02"></i>
                    </span>
                  </div>
                  <label class="control-label" for="">
                    <span class="star">*</span>
                </label>
                  <input   type="text" class="form-control" placeholder="E-mail" (focus)="focus=true" (blur)="focus=false" name="email" ngModel #emailInput="ngModel" ngplaceholder="E-Mail"  required #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"> 
                </div>
                <div class="input-group"  [ngClass]="{'input-group-focus':focus1===true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-key-25"></i>
                    </span>
                  </div>
                  <label  for="" class="control-label">
                    <span class="star">*</span>
                  </label>
                  <input type="password" placeholder="Password" class="form-control" (focus)="focus1=true" (blur)="focus1=false" name="password" ngModel placeholder="Password" #passwordInput="ngModel" required validateEqual="confirmPassword" reverse="true">
                </div>
                <br/>
              </div>
              <div style="text-align: center;">
              </div>
              <div class="card-footer ">
                <button  type="submit" *ngIf="!isLoading"  class="btn btn-warning btn-round btn-block mb-3" router-outlet="dashboard">LOGIN </button> 
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer footer-black  footer-white ">
      <div class="container">
        <div class="row">
          <div class="credits ml-auto">
            <span class="copyright">
              &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by ION-STAR
            </span>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>  
